html body{
  margin: 0;
  padding: 0;
}
  .navbar li {
   font-size: 15px;

    margin-left: 10px;
  }
.page1 img {
height: 85vh;
width: 100%;
}
.page1 h1 {
  font-size: 55px;

 

}
.page1 p {
  font-size: 18px;
  
 
 
}

.page1 button {
padding: 15px 50px;
color: white;
background-color: rgb(245, 74, 56);
border: 1px solid salmon;
font-weight: 700;

}
.page1 button:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}
.page2 {
 height: 66vh;

}
.page2Intro h6 {
  font-size: 18px;
  color: rgb(236, 29, 74);
  margin-top: 100px;
}
.page2Intro h1 {
  font-size: 40px;
}

.row h4 {
  font-weight: 600;
  font-size: 18px;
  color: black;
}
.page2Intro {
 margin-top: 100px;
}
.page2 .col {
 display: flex;
align-items: center;
text-align: left;
justify-content: center;
 margin-top: 50px;
}
.col i {
 margin-right: 20px;
 color: rgb(236, 29, 74);
}
.row {
 padding: 0;
 margin: 0;
}
.row img {

 object-fit: cover;
 padding: 0;
 margin: 0;
 width: 100%;
 text-align: center;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.page4 {
 
 height: 58vh;
 width: 100%;
 background-color: lightgray;
 
}

.page4.container{
  margin: 0;
  padding: 0;
}

.page4Text {
 
  padding: 30px;
  width: 100%;
}
.page4Text h1 {
  font-size: 30px;
}
.page4Text span p {
 font-family: 'Dancing Script';
 font-size: 20px;
 margin-top: 20px;
}
.page4Text button {
 background-color: green;
 padding: 10px 30px;
 border-radius: 1px;
 border: 1px solid green;
 color: white;
 font-weight: 700;
 margin-top: 20px;
}
.page4Text button:hover {
 background-color: white;
 color: black;
 border: 1px solid black;
}
.page5 {
 display: flex;
 height: 20vh;
 width: 60%;
 align-items: center;
 justify-content: center;
 text-align: left;

}
.page5 h1 {
  font-size: 35px;
  color: black;
}
.row  {
   
   
   
    overflow: hidden;
    position: relative;
   
    display: inline-block;
  cursor: pointer;
}



.row .col img {
   
 
  background-position: center;
  background-size: cover;
  transition: transform .2s;
  padding: 0;
  margin: 0;
}
.page6 .col img:hover {
cursor: pointer;
color: rgba(184, 10, 10, 0.5);
 width: 100%;
   transform: scale(1.16); 
}

.page7 {
  height: 50vh;
 
}
.page7 img{
   
        height: 50vh !important;
        width:  100% !important;
       opacity: 0.7;
    
}
.page8 {
  width: 100%;
  height: 40vh;
}
.page8Intro {
  width: 100%;
  height: 10vh;
  margin-top: 40px;
  text-align: center;
}
.page8Main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background: none; }
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst, .MultiCarousel .leftLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
        .pad15 img {
          height: 150px;
          width: 150px;
          background: none;
          border-radius: 50%;
        }
        .page9 {
          height: 53vh;
          width: 100%;
          background-color: black;
          margin-top: 40px;
          opacity: 0.85;
        }
        .page9Intro {
          text-align: center;
          width: 100%;
          height: 10vh;
          padding-top: 20px;
        }
        .page9Main {
          text-align: center;
          padding-top: 50px;
          color: white;
        }
        .page10 {
          height: 83vh;
          width: 100%;
        }
         .col-sm button {
          background-color: rgb(251, 0, 84);
          color: white;
          border-radius: 5px;
          border: 1px solid rgb(251, 0, 84);
          padding: 5px 20px;
          font-weight: 700;
        }
         .col-sm button:hover {
          background-color: black;
          border: 1px solid black;
        }
        .page11 {
          height: 20vh;
          width: 100%;
          background-color: red;
          opacity: 0.7;
          color: white;
          font-size: 55px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .page11:hover {
          background-color: black;
          cursor: pointer;
        }
        .footer {
           background-color: black;
       
          width: 100%;
        
        }
        .footer .container{
          background-color: black;
          opacity: 0.7;
          width: 100%;
         
        }
        .footer h3 {
          color: white;
        }
        .footer p {
          color: lightgrey;
        }
        .footer a {
          color: lightgray;
          text-decoration: none;
        }
        .footer a:hover {
          color: white;
          text-decoration: none;
        }
        .footer2 ul {
          overflow: hidden;
        width: 100%;
        text-align: left;
       
        float: left;
        }
        .footer2 li {
          float: left;
          
          margin: 10px;
          color: lightgrey;
          text-align: left;
        }
        .footer2 i {
          margin: 10px;
          float: left;
          text-align: right;
          color: rgb(236, 236, 236);
          background-color: rgb(112, 108, 108);
          padding: 10px;
        }
      